//
// INPUT
//

.input {
  width: em(230);
  max-width: 100%;
  padding: em(5) .5em;
  font-size: 1em;
  line-height: em($font-baseline);
  text-shadow: 0 1px 0 #fff;
  color: $color-body;
  background-color: $color-blue-lightest;
  border: 1px solid $color-blue-light-alt;
  @include border-radius( em(5) );
  @include box-shadow( inset 0 2px 3px rgba(0,0,0,.15) );
  $transition: background-color .15s ease-out, box-shadow .15s ease-out, border-color .15s ease-out;
  @include transition($transition);
  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: 0;
    background-color: #fff;
    border-color: $color-blue;
    @include box-shadow( inset 0 1px 3px rgba(0,0,0,.15) );

    &::-webkit-input-placeholder {
      color: $color-blue-light;
    }

    &:-moz-placeholder {
      color: $color-blue-light;
    }
  }

  // placeholder

  &::-webkit-input-placeholder {
    color: $color-blue;
    font-weight: bold;
    -webkit-transition: color .15s ease-out;
  }

  &:-moz-placeholder {
    color: $color-blue;
    font-weight: bold;
    -moz-transition: color .15s ease-out;
  }
}

//
// FIELD
//

.field {
  position: relative;
  line-height: em(30);
  display: block;
  padding-left: em(100);
  margin-bottom: em(24);
  @include clearfix();

  .label {
    position: absolute;
    top: 0;
    left: 0;
    width: em(82);
    line-height: em(30);
  }

  .help {
    margin-top: 0;
    color: $color-blue;
    font-weight: bold;
  }
}

//
// LABEL
//

.label {
  display: block;
  margin-bottom: em(5);
  font-weight: bold;
  text-transform: uppercase;
  color: $color-blue-dark;
}