<h1>Air Quality Egg</h1>
<h2>Got an egg?</h2>
<p><%= @error %></p>
<form method="post" action="/register">
  <label for="serial">Enter serial:</label>
  <input type="text" id="serial" name="serial">
  <input type="submit" name="submit" value="Submit">
</form>
