<section class="claiming clearfix">
  <form class="claiming-form" method="post" action="/register">
    <input class="input claiming-input" type="text" id="serial" name="serial" placeholder="Serial Number">
    <input class="button claiming-button" type="submit" name="submit" value="Add my egg">
  </form>
  <p class="bubble bubble-error claiming-error<% if !@error %> hidden<% end %>"><%= @error %></p>
</section>

<section class="home-map-container">
  <div class="map home-map" id="map_canvas" style="width:100%;height:680px;"></div>
  <div class="map-overlay">
    <p class="map-overlay-loading">Loading Egg <span>.</span><span>.</span><span>.</span></p>
  </div>
</section>

<section class="home-section home-whatisit">
  <img class="home-whatisit-prop" src="/assets/img/prop-eggs.png">
  <h1 class="home-whatisit-title">What is it?</h1>
  <p class="home-whatisit-claim">A community-led air quality sensing network that gives people a way to participate in the conversation about air quality.</p>
</section>

<p class="home-section-note">The Air Quality Egg is a sensor system designed to allow anyone to collect very high resolution readings of NO2 and CO concentrations outside of their home.  These two gases are the most indicative elements related to urban air pollution that are sense-able by inexpensive, DIY sensors.</p>

<section class="home-section home-section-text clearfix">
  <h1 class="home-section-title">Where's the data?</h1>
  <p class="home-section-paragraph">Look outside your window — have you ever wondered what the quality of the air is out there? I mean RIGHT. OUT. THERE. 12 inches from your face. If so, you are out of luck. The air quality data collected by the government is likely sampled from far, far away and then applied to you on a regional level -- not very useful from the standpoint of trying to understand or change the local dynamics of pollution that affect you. If you're interested in joining a community of people who are going to change that, you are in the right place!</p>
</section>

<section class="home-section home-section-text-left clearfix">
  <h1 class="home-section-title">Community</h1>
  <div class="home-section-video oembed" contenteditable="false" data-href="http://vimeo.com/39775046">
    <div class="video-box">
      <iframe class="video" src="http://player.vimeo.com/video/39775046" width="100%" height="308" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
  </div>
  <p class="home-section-paragraph">The Air Quality Egg is developed by a community effort, born out of groups from the Internet of Things Meetups in <a href="http://www.meetup.com/iotnewyork/" target="_blank">NYC</a> and <a href="http://www.meetup.com/iotamsterdam/" target="_blank">Amsterdam</a>. We are designers, technologists, developers, architects, students, and artists. Read about the history of the development of this project <a href="http://blog.xively.com/2011/12/07/you-can-help-build-an-open-air-quality-sensor-network/" target="_blank">here</a> and <a href="http://blog.xively.com/2012/01/17/airqualityegg-people-participating-in-the-conversation-about-air-quality/" target="_blank">here</a>.</p>
  <p class="home-section-paragraph">The product development conversation, as well as a fair bit of the philosophical arguments, happens in our <a href="http://groups.google.com/group/airqualityegg" target="_blank">Google Group</a>. We also have a <a href="http://airqualityegg.wikispaces.com/" target="_blank">Wiki</a>. </p>
  <p class="home-section-paragraph">The video also outlines our methodology/philosophy.</p>
</section>

<section class="home-section home-section-text-left clearfix">
  <h1 class="home-section-title">How It Works</h1>
  <a class="home-section-image" href="/assets/img/systemsDiagram.jpg"><img alt="Diagram of how the egg works" src="/assets/img/systemsDiagram.jpg"></a>
  <p class="home-section-paragraph"><b>1) Outdoor sensors:</b> A small electronic sensing system plug into the wall and sits outside your home taking regular readings. It has an RF transmitter, which sends the data wirelessly to an Egg-shaped base station inside.</p>
  <p class="home-section-paragraph"><b>2) Egg base station:</b> An Egg-shaped base station, which gives this project its name, receives the wirelessly transmitted data from the sensor box outside. It then relays that data to the Internet via a wired Ethernet connection. The Egg also acts as a User Interface, so it also has an LED light and a button. These are configurable by applications which will be developed in the future by the community.</p>
  <p class="home-section-paragraph"><b>3) Data sent to Internet:</b> The air quality data will be sent in real-time to <a href="https://xively.com" target="_blank">Xively</a>, an open data service, which both stores and provides free access to the data. The service includes embeddable graphs and the ability to generate triggers for tweets and SMS alerts (it looks something <a href="https://xively.com/feeds/48307" target="_blank">like this</a>), as well as a robust API which allows for developers in the community to unlock the potential of this new dataset by building mashups, maps, and applications.</p>
</section>

<script>
  var mapmarkers = <%= @map_markers %>;
</script>

