<section class="claiming">
  <form method="post" action="/register">
    <input class="input claiming-input" type="text" id="serial" name="serial" placeholder="Serial Number">
    <input class="button claiming-button" type="submit" name="submit" value="Add my egg">
  </form>
  <p class="claiming-error<% if !@error %> hidden<% end %>"><%= @error %></p>
</section>