<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Air Quality Egg</title>
  <meta name="description" content="Air Quality Egg">
  <meta name="author" content="Xively">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>

  <header class="app-header" role="banner">
    <div class="app-header-inner clearfix">
      <h1 class="branding-logo">
        <a class="link-dark" href="/">Air Quality Egg</a>
      </h1>
      <p class="branding-tagline">Community-led sensing network</p>
    </div>
  </header>

  <div class="app-content grid-row" role="main">

    <%= yield %>

  </div>

  <footer class="app-footer grid-row" role="contentinfo">
    <div class="elsewhere">
      <p class="elsewhere-item twitter"><a href="https://twitter.com/#!/search/realtime/%23airqualityegg">Twitter</a></p>
      <p class="elsewhere-item kickstarter"><a href="http://www.kickstarter.com/projects/edborden/air-quality-egg">Kickstarter</a></p>
      <p class="elsewhere-item google-group"><a href="https://groups.google.com/forum/?fromgroups#!forum/airqualityegg">Google Group</a></p>
      <p class="elsewhere-item wiki"><a href="http://airqualityegg.wikispaces.com/">Wiki</a></p>
    </div>
    <p class="xively-logo"><a href="https://xively.com" class="ir">Xively</a></p>
  </footer>

  <!-- scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>

  <!-- google analytics -->
  <script>
    var _gaq=[['_setAccount','<%= ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
