@media only screen and (min-width: em(1024,16)) {

//
// TAGLINE
//

.branding-tagline {
  display: block;
  margin: em(36) 0 0 0;
}

//
// DASHBOARD
//


.dashboard-current {
  padding-left: em($site-gutter + 25);
}

.current-id {
  .current-right & {
    text-align: left;
  }
}

} // END OF MEDIA QUERY