// DEFAULTS

body {
  min-width: em(320);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: em($font-basesize, 16);
  line-height: em($font-baseline);
  color: $color-body;
  background: $color-background-alt url('/assets/img/egg-shell.jpg') repeat top left;
  -webkit-font-smoothing: antialiased;
}

// LINKS

a {
  color: $color-blue;
  text-decoration: none;
  $transition: color .15s ease-out;
  @include transition( $transition );

  &:active,
  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    color: $color-blue-dark;
  }

  // DARK LINK

  &.link-dark {
    color: $color-blue-darkest;

    &:hover,
    &:focus {
      color: $color-blue-dark-alt;
    }
  }
}

// MAIN

.app-header {
  padding: 0 em($site-gutter);
  background-color: $color-background;
}

.app-header-inner {
  position: relative;
  margin: 0 auto;
  max-width: #{$site-maxwidth - ($site-gutter * 4)}px;
}

.app-footer,
.app-content {
  padding-top: em($site-gutter/2);
  padding-bottom: em($site-gutter);
}

.app-content {
  position: relative;
  background-color: $color-background;
}

.app-footer {
  position: relative;
  padding-top: em($site-gutter);
  margin-bottom: em($site-gutter * 2);
  background: $color-blue-lightest url('/assets/img/egg-shell-alt.jpg') repeat top left;  
}

// MAP

.gllpMap,
.map  { 
  background: $color-background-alt url('/assets/img/loader-bg.gif') no-repeat center center !important;

  &:before {
    content: "Looking for eggs...";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    margin-top: - em(45);
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    text-shadow: 0 1px 0 #fff;
  }

  img {
    max-width: none;
  }
}

@-webkit-keyframes pulsedot {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-moz-keyframes pulsedot {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

@-o-keyframes pulsedot {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes pulsedot {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

.map-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  background: rgba(0,0,0,.75);

  .map-overlay-loading {
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    margin: -1em 0 0 0;
    font-size: em(18);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-align: center;
    letter-spacing: -.05em;

    span {
      -webkit-animation: pulsedot .75s infinite;
         -moz-animation: pulsedot .75s infinite;
           -o-animation: pulsedot .75s infinite;
              animation: pulsedot .75s infinite;
    }

    span:nth-child(2) {
      -webkit-animation-delay: .1s;
         -moz-animation-delay: .1s;
           -o-animation-delay: .1s;
              animation-delay: .1s;
    }

    span:nth-child(3) {
      -webkit-animation-delay: .2s;
         -moz-animation-delay: .2s;
           -o-animation-delay: .2s;
              animation-delay: .2s;
    }
  }
}

// FOOTER

.xively-logo {
  font-weight: bold;
  color: $color-blue-alt;
  text-shadow: 0 1px 0 #fff;
  text-align: center;

  .ir {
    display: inline-block;
    width: em(171);
    height: em(65);
    background: transparent url('/assets/img/xively-logo.png') no-repeat left center;
  }
}

.elsewhere {
  margin-bottom: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.elsewhere-item {
  font-weight: bold;
  margin: 0;

  & + .elsewhere-item {
    margin-top: 1em;
  }

  a {
    color: $color-blue-dark;
    text-shadow: 0 1px 0 white;

    &:hover,
    &:focus {
      color: $color-blue-darkest;
    }
  }
}
