// DEFAULTS

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: em($font-basesize, 16);
  line-height: em($font-baseline);
  color: $color-body;
  background-color: $color-background-alt;
  -webkit-font-smoothing: antialiased;
}

// LINKS

a {
  color: $color-blue;
  text-decoration: none;
  $transition: color .15s ease-out;
  @include transition( $transition );

  &:active,
  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    color: $color-blue-dark;
  }

  // DARK LINK

  &.link-dark {
    color: $color-blue-darkest;

    &:hover,
    &:focus {
      color: $color-blue-dark-alt;
    }
  }
}

// MAIN

.app-header {
  padding: 0 em($site-gutter);
  background-color: $color-background;
}

.app-header-inner {
  position: relative;
  margin: 0 auto;
  max-width: #{$site-maxwidth - ($site-gutter * 2)}px;
}

.app-footer,
.app-content {
  padding-top: em($site-gutter/2);
  padding-bottom: em($site-gutter/2);
}

.app-content {
  position: relative;
  background-color: $color-background;
}

// MAP

.gllpMap,
.map  { 
  img {
    max-width: none;
  }
}