//
// ROW
//

.grid-row {
  max-width: #{$site-maxwidth - ($site-gutter * 4)}px;
  padding: 0 em($site-gutter);
  margin: 0 auto;
  @include clearfix();

  // responsive styles in width-800
  
  .grid-row {
    min-width: 0;
  }
}
  
//
// COLUMNS
//

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  margin-left: 4.4%;
  float: left;
  min-height: 1px;
  position: relative;
  
  &:first-child {
    margin-left: 0;
  }
}

.grid-1   { width: 4.3%;   }
.grid-2   { width: 13%;    }
.grid-3   { width: 21.7%;  }
.grid-4   { width: 30.37%; }
.grid-5   { width: 39.1%;  }
.grid-6   { width: 47.8%;  }
.grid-7   { width: 56.5%;  }
.grid-8   { width: 65.2%;  }
.grid-9   { width: 73.9%;  }
.grid-10  { width: 82.6%;  }
.grid-11  { width: 91.3%;  }
.grid-12  { width: 100%;   }
  
//
// CENTERING
//
  
.grid-centered,
.grid-centered:first-child {
  float: none;
  margin: 0 auto;
}
  
//
// OFFSETTING
//
    
.grid-offset-1              { margin-left: 13.1%; }
.grid-offset-1:first-child  { margin-left: 8.7%;  }
.grid-offset-2              { margin-left: 21.8%; }
.grid-offset-2:first-child  { margin-left: 17.4%; }
.grid-offset-3              { margin-left: 30.5%; }
.grid-offset-3:first-child  { margin-left: 26.1%; }
.grid-offset-4              { margin-left: 39.2%; }
.grid-offset-4:first-child  { margin-left: 34.8%; }
.grid-offset-5              { margin-left: 47.9%; }
.grid-offset-5:first-child  { margin-left: 43.5%; }
.grid-offset-6              { margin-left: 56.6%; }
.grid-offset-6:first-child  { margin-left: 52.2%; }
.grid-offset-7              { margin-left: 65.3%; }
.grid-offset-7:first-child  { margin-left: 60.9%; }
.grid-offset-8              { margin-left: 74.0%; }
.grid-offset-8:first-child  { margin-left: 69.6%; }
.grid-offset-9              { margin-left: 82.7%; }
.grid-offset-9:first-child  { margin-left: 78.3%; }
.grid-offset-10             { margin-left: 91.4%; }
.grid-offset-10:first-child { margin-left: 87.0%; }
.grid-offset-11:first-child { margin-left: 95.7%; }
  
//
// SOURCE ORDERING
//

.grid-push-2  { left: 17.4%; }
.grid-push-3  { left: 26.1%; }
.grid-push-4  { left: 34.8%; }
.grid-push-5  { left: 43.5%; }
.grid-push-6  { left: 52.2%; }
.grid-push-7  { left: 60.9%; }
.grid-push-8  { left: 69.6%; }
.grid-push-9  { left: 78.3%; }
.grid-push-10 { left: 87%;   }

.grid-pull-2  { right: 17.4%; }
.grid-pull-3  { right: 26.1%; }
.grid-pull-4  { right: 34.8%; }
.grid-pull-5  { right: 43.5%; }
.grid-pull-6  { right: 52.2%; }
.grid-pull-7  { right: 60.9%; }
.grid-pull-8  { right: 69.6%; }
.grid-pull-9  { right: 78.3%; }
.grid-pull-10 { right: 87%;   }