// --------------------------------
//
// MIXINS & FUNCTIONS
//
//

// Calculate Ems

@function em ( $n: $font-baseline, $base: $font-basesize ) {
  @return $n / $base + em;
}

// CSS3

@mixin opacity ( $opacity: 100 ) {
  @if $opacity == 100 {
    filter: none; // better for IE7
  } @else {
    filter: alpha(opacity=$opacity);
  }
  -khtml-opacity: $opacity / 100;
    -moz-opacity: $opacity / 100;
         opacity: $opacity / 100;
}

@mixin transition ( $value ) {
  -webkit-transition: #{$value};
     -moz-transition: #{$value};
      -ms-transition: #{$value};
       -o-transition: #{$value};
          transition: #{$value};
}

@mixin transform ( $value ) {
  -webkit-transform: #{$value};
     -moz-transform: #{$value};
      -ms-transform: #{$value};
       -o-transform: #{$value};
          transform: #{$value};
}

@mixin box-shadow ( $value ) {
  -webkit-box-shadow: #{$value};
     -moz-box-shadow: #{$value};
          box-shadow: #{$value};
}

@mixin border-radius ( $value ) {
  -webkit-border-radius: #{$value};
     -moz-border-radius: #{$value};
          border-radius: #{$value};
}

// --------------------------------
//
// HELPERS
//
//

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}
.clearfix { @include clearfix; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.inline { display: inline; }
.block { display: block; }
.no-margin { margin-bottom: 0 !important; }
.align-center { text-align: center; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.strong { font-weight: bold; }