//
// CURRENT VALUES
//

.dashboard-current {
  position: relative;
  padding-right: em($site-gutter);
  padding-left: em($site-gutter);
  padding-bottom: em(40);
  margin-top: - em($site-gutter/2);
  margin-left: - em($site-gutter);
  margin-right: - em($site-gutter);
  background: $color-blue-lightest url('/assets/img/egg-shell-alt.jpg') repeat top left;
  text-shadow: 0 1px 0 #fff;
}

.dashboard-current-prop {
  display:none;
}

.dashboard-current-values {
  position: relative;
  padding-top: em(30);
  z-index: 5;
}

// CURRENT

.current {
  position: relative;
  margin-bottom: em(35);
  min-height: em(90);
}

.current-id {
  width: 47.5%;
  margin: 0;
  font-size: em(60);
  line-height: 1em;
  color: $color-blue-dark;
  text-transform: uppercase;
  text-indent: -.05em;

  .current-right & {
    font-size: em(24);
    line-height: 1em;
    text-transform: none;
    color: $color-blue-dark-alt;
  }
}

.current-id-full {
  width: 47.5%;
  margin: 0;
  font-size: em(14);
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
  color: $color-blue-alt;
}

.current-value {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 47.5%;
  height: em(90);
}

// GAUGES

.current-value-measure {
  position: relative;
  top: 50%;
  display: block;
  padding-left: em(25,24);
  margin: 0;
  font-size: em(24);
  line-height: em(28,24);
  font-weight: bold;
  color: $color-blue-dark;
  text-align: right;
  border-top: 1px solid $color-blue-dark-alt;
  z-index: 15;
}

.current-gauge,
.current-gauge-filling{
  position: absolute;
  bottom: 0;
  left: 0;
  width: em(20);
}

.current-gauge {
  height: 100%;
  background-color: $color-blue-light-alt;
  z-index: 5;
}

.current-gauge-filling {
  height: 50%;
  z-index: 10;
  background-color: $color-blue-dark-alt;

  &.current-gauge-green {
    background-color: $color-green;
  }

  &.current-gauge-yellow {
    background-color: $color-yellow;
  }

  &.current-gauge-red {
    background-color: $color-red;
  }
}

.current-value-unavailable {
  display: block;
  padding-top: .1em;
  font-size: 60%;
  line-height: 1.1em;
  color: $color-blue;
}

// OTHER

.dashboard-updated {
  position: absolute;
  bottom: 0;
  right: em($site-gutter);
  z-index: 5;
  font-size: em(13);
  font-weight: bold;
  line-height: em(18,13);
  text-transform: uppercase;
  color: $color-blue;
}

//
// MAP
//

.dashboard-map-container {
  margin-top: em(30);
}

.dashboard-map {
  max-height: em(350);
}

//
// METADATA
//

.dashboard-metadata {
  margin-top: em(30);
}

.metadata-feed-title {
  display: block;
  margin: 0;
  font-size: em(24);
  line-height: em(26,24);
  padding-top: em(5,24);
  color: $color-blue-dark;
  text-transform: uppercase;
  border-top: 3px solid $color-blue-dark;
}

.metadata-title {
  margin: em(30) 0 0 0;
  font-size: em(14);
  line-height: em(18);
  font-weight: bold;
  color: $color-blue;
  text-transform: uppercase;
}

.metadata-value {
  margin: 0;
  font-size: em(36);
  line-height: 1em;
  font-weight: 300;
  color: $color-blue-dark-alt;
  text-transform: uppercase;
  letter-spacing: -.05em;
}

.metadata-description {
  text-transform: none;
  font-size: em(24);
  line-height: 1.2em;
}