.edit-egg {
  max-width: em(480);
  margin: 0 auto;

  .button[type="submit"] {
    margin: 0 auto;
  }
}

//
// LOCATION PICKER
//

.edit-map {
  width: 100%;
  height: 250px;
  margin-top: 1em;
}

.gllpLatlonPicker {
  max-width: 100%;

  .help {
    margin: 0;
  }
}