.app-header-inner {
  // responsive styles in _width-800.scss
  text-align: center;
}

.branding-logo {
  // responsive styles in _width-800.scss, _width-460.scss
  display: inline-block;
  margin: em(15,30) 0;

  a {
    display: block;
    padding: em(15,30) em(15,30) em(15,30) em(65,30);
    background: transparent url('/assets/img/branding-logo.png') no-repeat center left;
  }
}

.branding-tagline {
  // responsive styles in _width-1024.scss, _width-800.scss
  margin: 0 0 1em 0;
  color: $color-blue;
  font-weight: bold;
  text-transform: lowercase;
}

//
// CLAIMING
//
// responsive styles in _width-800.scss, _width-460.scss

.claiming {
  position: relative;
  top: - em(10);
  width: em(280);
  margin: 0 auto em(15);
  text-align: center;
  z-index: 10;
}

.claiming-input {
  width: em(140);
  padding-right: em(24);
}

.claiming-button {
  // responsive styles in _width-460.scss
  margin-left: - em(18);
}

.claiming-error {
  position: absolute;
  top: em(25);
  left: 0;
  max-width: 100%;
}