//
// MAP
//

.home-map-container {
  position: relative;
  z-index: 5;
}

.home-map {
  max-height: em(400);
}

//
// WHAT IS IT
//

.home-whatisit {
  position: relative;
  margin: 1em 0;
}

.home-whatisit-prop {
  display: none;
}

.home-whatisit-title {
  padding-top: em(15,30);
  margin: 0;
  margin-bottom: em(5,30);
}

.home-whatisit-claim {
  margin: 0;
  font-size: em(20);
  line-height: em(30,20);
  color: $color-blue-alt;
  letter-spacing: -.05em;
}